.footer{
    min-height:45vh;
    width:100%;
    background-color:#08374e;
    margin:0 auto;
  }
  .foothold{
    display:inline-flex;
    justify-content: space-around;
    padding:40px 4px 10px 4px;
    width:100%;
    height:100%;
  }
  .footleft{
    color:white;
    font-weight:500;
    justify-content: flex-start;
    padding: 0 10px;
    font-family:Roboto;
    font-size:17px;
  }
  .footnav{
    display:flex;
    flex-direction: column;
    color:white;
    font-family:Roboto;
  }
  .footsign{
    padding:10px 30px;
    background-color:#0d7ce9;
    border:none;
    border-radius:10px;
    color:white;
    font-size:15px;
    font-family:Roboto;
  }
  .footsign:hover{
    background-color:#1f83e796;
    color: white;
    transition:all ease-in 600ms;
  }
  .footnav a{
    color:white;
    padding-top:10px;
  }
  
  .footright{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .nfound{
     text-align: center;
  }
  .link{
    text-decoration:underline;
    text-decoration-color: rgb(85, 85, 199);
    color:rgb(66, 66, 173);
  }
  .image{
     border-radius:10px;
  }

  .footText{
    display: flex;
    color: gray;
    align-items: center;
    font-weight: 500;
  }

  @media  screen and (max-width:768px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 40vh;
      width: 100%;
    }
    .foothold {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0;
      align-items: center;
    }
    .footleft{
      line-height: 40px;
      width: 100%;
      padding: 5px 10px;
      justify-content: flex-start;
    }

    .footnav {
       display: flex;
    }

    .footright {
      display: grid;
      justify-content: flex-start;
      gap: 50px;
      padding: 0 10px;
      grid-template-columns: auto auto;
    }

    .footsign{
      padding: 5px 30px;
    }

    .footText{
      display: flex;
      color: gray;
      font-weight: 500;
    }
  }