
.container{
    background-color: #a2adb369;
    width: 98.8vw;
    height: 50vh;
}
.wrapper{
    justify-content: center;
    justify-content:space-around;
    display: flex;
    width: 100%;
    height: 100%;
}

.inner{
    display: flex;
    padding-bottom: 10px;
    padding: 2px;
    margin:10px 8px;
    flex-direction: column;
   
    }

    .holder{
        display: flex;
        margin:28px 8px;
    flex-direction: column;
    }

.input{
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
}
.inputt{
    width:60%;
    border:none;
    border-radius: 2px;
    outline: none;
    text-align: center;
    height:50px;
    background-color: rgba(247, 241, 241, 0.945);
}

.btn{
    background-color: #0d7ce9;
    border: none;
    width:23%;
    border-radius: 5px;
}
.btn:hover{
    background-color: indigo;
}

.links{
    display: flex;
    width:50%;
    margin:0px 15px;
    justify-content: center;
    align-items: center;
    justify-content:space-around;
}
.links > a{
    color: #0d7ce9;
    font-size:20px;
}
.a{
    text-decoration: none;
    
}
@media screen  and (max-width:760px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 50vh;
    }
}