/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */
html,

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  font-family: 'MuseoModerno', cursive;
}  

/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap'); */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
  color: #a8d1e2;
}

header{
  position: sticky;
  z-index: 30;
  top: 0;
}

nav{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #e1f4fc;
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color:#08374e;
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 100%;
  align-items: center;
  row-gap: 4em;
  color: white;
  right: -100%;
  padding: 100px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #08374e;
}
.nav__menu-list.active{
  right: 0;
}

.nav__link{
  font-size: 18px; 
  position: relative;
  border-bottom: #e1f4fc solid 0.1em;
  transition: all 0.2s;
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
   background-color: #e1f4fc;
   color: #08374e;
   border: #a8d1e2 0.4em solid;
   border-radius: 0.3em;
   padding: 0.2em 0.5em;
   font-family:Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 768px) {
  .nav__menu-bar{
    display: none;
  }

  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    padding: 0.8em 0;
    background-color: #e1f4fc;
    align-items: center;
  }

  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: #08374e;;
    transition: all 0.2s;
  }
  
  .nav__link {
    color: #08374e;
  }

  .nav__link:hover:before{
   width: 100%;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;